@import url("https://fonts.googleapis.com/css?family=Parisienne|Girassol&display=swap");

body {
  margin: 0;
  background-color: white;
  font-size: 25px;
}

h1 {
  font-size: 75px;
  font-family: "Parisienne", cursive;
}

/* Navigation Bar Start */
nav {
  background-color: #333;
  overflow: hidden;
  font-family: "Girassol";
}

nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #eb4840;
  color: white;
}
/* Navigation Bar End */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 15px;
}

.full-page,
.full-page-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
  align-items: center;
  display: flex;
}

.full-page-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -2;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
  background-color: white;
  opacity: 0.8;
  z-index: 2;
  min-height: 500px;
}

.flex-container {
  display: flex;
}

/* Start of Table */

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Girassol";
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #eb4840;
  color: white;
}

tr {
  background-color: whitesmoke;
}

table {
  margin: auto;
  width: 80%;
}

tbody {
  text-align: center;
}
/* End of Table */

/* Start of List */
ul {
  display: table;
  margin: 0 auto;
  text-align: left;
  list-style-type: square;
}

li {
  padding-bottom: 10px;
  font-family: "Girassol";
}

/* End of List */
