h1 {
  font-size: 200px;
  margin-bottom: 0em;
}

h2 {
  font-size: 100px;
  font-family: "Girassol", cursive;
  margin-top: 0em;
  margin-bottom: 0em;
}

h3 {
  font-size: 40px;
  margin-top: 1em;
}

.center {
    background-color: transparent;
}