button {
  width: 150px;
  height: 50px;
  padding: 0px;
  font-size: 25px;
  font-family: monospace;
  border: 0px;
  background-color: #adadeb;
}

button:hover {
  background-color: #5e4485;
}

input {
  width: 560px;
  padding: 0px 20px 0px 20px;
  height: 50px;
  text-align: right;
  border: 0px;
  font-size: 25px;
}

.center {
  margin: auto;
  max-width: 600px;
  text-align: center;
  opacity: 0.8;
}

.row {
  padding: 0px;
  margin: 0px;
  font-size: 0;
}
